cmake-build-debug/
.idea/
headers.h
src/Warehouse.cpp.orig
.vs/
src/Warehouse_BACKUP_20052.cpp
src/Warehouse_BASE_20052.cpp
src/Warehouse_LOCAL_20052.cpp
src/Warehouse_REMOTE_20052.cpp
build/
header/Warehouse.h.orig
header/Order.h.orig
